<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <h2 class="text-body-emphasis">(Q)EAA Issuing Flow</h2>
    <p class="fs-5 col-md-8">This view demonstrates the (Q)EAA Issuing Flow.
    </p>
    <p>Flow details are described in <a
            href="https://github.com/open-eid/eudi-qeaa-doc/blob/master/eudi-qeaa-issuer.md#41-qeaa-issuing">here</a>.
    </p>
    <form action="#" method="post" th:action="@{/credential}">
        <button class="btn btn-primary btn-primary px-4" type="submit">Request Mobile Driving Licence</button>
    </form>
</div>
</body>
</html>
