<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content" th:object="${credential}">
    <form th:action="@{/credential/update/{id}(id=${credential.id})}" th:if="*{accessToken != null}" th:method="POST">
        <input th:name="_method" th:value="PUT" type="hidden">
        <button class="btn btn-success float-end" type="submit">Update credential</button>
    </form>
    <h2>Credential</h2>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Doctype</th>
                <td th:text="*{doctype}"></td>
            </tr>
            <tr>
                <th scope="row">Format</th>
                <td th:text="*{format}"></td>
            </tr>
            <tr>
                <th scope="row">Credential</th>
                <td>
                    <textarea class="form-control wrap-text" th:text="*{value}"></textarea>
                </td>
            </tr>
            <tr>
                <th scope="row">Issued</th>
                <td th:text="*{issuedAt}"></td>
            </tr>
            <tr th:if="*{accessToken != null}">
                <th scope="row">Access Token</th>
                <td>
                    <textarea class="form-control wrap-text" rows="7" style="margin-bottom: 10px;"
                              th:text="*{accessToken}"></textarea>
                    <pre><code class="json wrap-text" th:text="*{formattedAccessToken}"></code></pre>
                </td>
            </tr>
            <tr th:if="*{accessToken != null}">
                <th scope="row">Nonce</th>
                <td th:text="*{cNonce}"></td>
            </tr>
            <tr th:if="*{accessToken != null}">
                <th scope="row">Nonce expires in</th>
                <td th:text="*{cNonceExpiresIn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container" th:if="${cbor != null}">
        <h5>Credential in CBOR diagnostic notation:</h5>
        <pre>
            <code class="json wrap-text" th:text="${cbor}"></code>
        </pre>
        <h5>x5chain from issuerAuth (COSE_Sign1 unprotected header):</h5>
        <pre>
            <code class="properties wrap-text" th:text="${x5chain}"></code>
        </pre>
        <h5>Mobile Security Object from issuerAuth (COSE_Sign1 payload):</h5>
        <pre>
            <code class="properties wrap-text" th:text="${mso}"></code>
        </pre>
    </div>
</div>

</body>
</html>
